Repository meltano/meltano, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pandemicsyn, @edgarrmondragon, @aaronsteers, @alexmarple, @afolson, @tayloramurphy, @meltano/engineering, @meltano/marketing, @meltano/product

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level

# Default owners
* @pandemicsyn @edgarrmondragon

# Discovery (End-of-Life)
/src/meltano/core/bundle/discovery.yml @aaronsteers

# Web App and API owners
/src/webapp/ @alexmarple @pandemicsyn
/src/meltano/api/ @pandemicsyn @alexmarple

# Docs (General)
/docs/ @afolson @tayloramurphy @meltano/engineering @meltano/marketing
/README.md @afolson @tayloramurphy @meltano/engineering @meltano/marketing

# Docs (Contributing)
/CONTRIBUTING.md @afolson @tayloramurphy @meltano/engineering

# Release Ops (see `/.bumpversion.cfg` for list of bumped files)
/.bumpversion.cfg @meltano/engineering @meltano/product
/CHANGELOG.md @meltano/engineering @meltano/product
/cookiecutter/**/pyproject.toml @meltano/engineering @meltano/product
/docs/package.json @meltano/engineering @meltano/product
/package.json  @meltano/engineering @meltano/product
/pyproject.toml  @meltano/engineering @meltano/product
/src/meltano/__init__.py  @meltano/engineering @meltano/product
/src/webapp/package.json  @meltano/engineering @meltano/product

Don't request mappings from the hub as they are not discoverable (#6012)
  src/meltano/cli/discovery.py
  src/meltano/core/hub/client.py
  src/meltano/core/plugin/base.py
  tests/meltano/cli/test_discover.py
Owners: @pandemicsyn, @edgarrmondragon

Update README.md (#5991)
  README.md
Owners: @afolson, @tayloramurphy, @meltano/engineering, @meltano/marketing

Fix 3.7 test failure due to mock import rewrites
  .pre-commit-config.yaml
  tests/meltano/cli/test_invoke.py
Owners: @pandemicsyn, @edgarrmondragon

snowplow-micro support
  src/meltano/core/tracking/README.md
  src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/cli_context/jsonschema/1-0-0
  src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/cli_event/jsonschema/1-0-0
  src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/environment_context/jsonschema/1-0-0
  src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/plugins_context/jsonschema/1-0-0
  src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/project_context/jsonschema/1-0-0
  src/meltano/core/tracking/iglu.json
  src/meltano/core/tracking/micro.conf
Owners: @pandemicsyn, @edgarrmondragon

Make black happy
  src/meltano/cli/state.py
Owners: @pandemicsyn, @edgarrmondragon

chore: Change job_id refs to state_id (#6009)
  .flake8
  .gitlab/ci/sample_code.gitlab-ci.yml
  docs/getting-started.md
  docs/src/_concepts/plugins.md
  docs/src/_concepts/project.md
  docs/src/_contribute/api.md
  docs/src/_guide/containerization.md
  docs/src/_guide/integration.md
  docs/src/_guide/production.md
  docs/src/_reference/command-line-interface.md
  src/meltano/api/controllers/orchestrations.py
  src/meltano/api/events/notification_events.py
  src/meltano/cli/elt.py
  src/meltano/cli/run.py
  src/meltano/cli/state.py
  src/meltano/core/block/extract_load.py
  src/meltano/core/job/finder.py
  src/meltano/core/job/stale_job_failer.py
  src/meltano/core/logging/job_logging_service.py
  src/meltano/core/project.py
  src/meltano/core/schedule.py
  src/meltano/core/state_service.py
  src/meltano/core/tracking/ga_tracker.py
  tests/fixtures/core.py
  tests/meltano/cli/test_elt.py
  tests/meltano/cli/test_state.py
  tests/meltano/core/block/test_extract_load.py
  tests/meltano/core/job/test_finder.py
  tests/meltano/core/job/test_stale_job_failer.py
  tests/meltano/core/runner/test_runner.py
  tests/meltano/core/test_schedule_service.py
  tests/meltano/core/test_state_service.py
Owners: @pandemicsyn, @edgarrmondragon, @afolson, @tayloramurphy, @meltano/engineering, @meltano/marketing, @alexmarple

chore: Fix team reviewer assignment for dependabot updates (#6016)
  .github/dependabot.yml
Owners: @pandemicsyn, @edgarrmondragon

Fires a known good event!
  src/meltano/core/tracking/cli.py
  src/meltano/core/tracking/environment.py
  src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/environment_context/jsonschema/1-0-0
  src/meltano/core/tracking/project.py
  src/meltano/core/tracking/tracker.py
Owners: @pandemicsyn, @edgarrmondragon

Update src/meltano/core/tracking/README.md
  src/meltano/core/tracking/README.md
Owners: @pandemicsyn, @edgarrmondragon

Update src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/environment_context/jsonschema/1-0-0
  src/meltano/core/tracking/iglu-client-embedded/schemas/com.meltano/environment_context/jsonschema/1-0-0
Owners: @pandemicsyn, @edgarrmondragon
