Repository meltano/meltano, pull requests merged in 2022-08, with the labels that each got.

#6167 feat: Add systemdb support for MS SQL Server
  .github/workflows/test.yml
  .pre-commit-config.yaml
  docs/src/_concepts/project.md
  docs/src/_guide/advanced-topics.md
  docs/src/_guide/installation.md
  noxfile.py
  poetry.lock
  pyproject.toml
  src/meltano/migrations/utils/dialect_typing.py
  src/meltano/migrations/versions/13e8639c6d2b_add_state_edit_to_job_state_enum.py
  src/meltano/migrations/versions/23ea52e6d784_add_resource_type_to_embed_token.py
  src/meltano/migrations/versions/367228df6a43_add_trigger_to_job.py
  src/meltano/migrations/versions/6ef30ab7b8e5_.py
  src/meltano/migrations/versions/87d9638f6ac6_add_subscription.py
  src/meltano/migrations/versions/a3e2b0a4937d_add_login_audit_columns.py
  src/meltano/migrations/versions/b4c05e463b53_.py
  src/meltano/migrations/versions/ceb00d7ff3bd_create_the_embedtoken_table.py
  src/meltano/migrations/versions/d135f52a6f49_add_last_heartbeat_at_column_to_job.py
  src/meltano/migrations/versions/e4fbabc3fed6_add_last_activity_at_column.py
  tests/conftest.py
  tests/fixtures/db/mssql.py
  tests/fixtures/db/postgresql.py
Labels: Community-Contributed PR

#6627 fix: Raise exception when meltano.yml is empty
  src/meltano/core/error.py
  src/meltano/core/project.py
  tests/fixtures/fs.py
  tests/meltano/cli/test_cli.py
Labels: Community-Contributed PR, kind/Bug, valuestream/Meltano

#6581 change: add new settings for `hub_api_root` and `hub_url_auth`
  docs/src/_reference/settings.md
  src/meltano/core/bundle/settings.yml
  src/meltano/core/hub/client.py
  tests/meltano/core/hub/test_meltano_hub_service.py
Labels: Community-Contributed PR, kind/Feature, valuestream/Meltano

#6681 Redirect ELT to blog
  docs/src/_concepts/elt.md
Labels: Documentation, marketing
