Repository meltano/meltano, pull requests merged in 2024-11, with the labels that each got.

#8786 feat(cli): Added an `--all` flag to `meltano state clear` to delete all state IDs
  src/meltano/cli/state.py
  src/meltano/core/state_service.py
  src/meltano/core/state_store/base.py
  src/meltano/core/state_store/db.py
  tests/meltano/cli/test_state.py
  tests/meltano/core/state_store/test_db.py
  tests/meltano/core/state_store/test_filesystem.py
Labels: Awaiting Action/Author, cli, Community-Contributed PR

#8851 refactor: Decoupled the `JobState` ORM model of the system db from state store implementations
  src/meltano/core/job/job.py
  src/meltano/core/job_state.py
  src/meltano/core/state_service.py
  src/meltano/core/state_store/__init__.py
  src/meltano/core/state_store/base.py
  src/meltano/core/state_store/db.py
  src/meltano/core/state_store/filesystem.py
  tests/meltano/core/job/test_stale_job_failer.py
  tests/meltano/core/state_store/test_db.py
  tests/meltano/core/state_store/test_filesystem.py
  tests/meltano/core/state_store/test_state_store.py
Labels: State Backends

#8920 chore: Set up Google gtag for docs site
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
Labels: internal

#8940 chore: Do not update version range in `pyproject.toml` if it remains compatible
  .github/dependabot.yml
Labels: dependencies
