Repository meltano/meltano, pull requests merged in 2024-10, with the labels that each got.

#8494 feat: Added a `callsite_parameters` argument to the builtin log formatters, which adds source path, line number and function name fields to the emitted log
  docs/docs/guide/logging.md
  integration/meltano-run/validate.sh
  src/meltano/core/logging/formatters.py
  tests/meltano/core/logging/test_formatters.py
Labels: Logging

#8626 feat: Added a `--run-id` option to `meltano el[t]`
  pyproject.toml
  src/meltano/cli/elt.py
  src/meltano/cli/params.py
  src/meltano/cli/run.py
  src/meltano/core/block/extract_load.py
  src/meltano/core/block/plugin_command.py
  src/meltano/core/elt_context.py
  src/meltano/core/job/job.py
  src/meltano/core/plugin/project_plugin.py
  src/meltano/core/plugin_invoker.py
  tests/meltano/cli/test_cli.py
  tests/meltano/cli/test_run.py
Labels: cli

#8737 feat: Added `exceptions` to the log message when using the JSON formatter
  docs/docs/guide/logging.md
  src/meltano/core/logging/formatters.py
  tests/meltano/core/logging/test_formatters.py
Labels: Logging

#8869 fix: Adding User friendly loader error when the loader is missing from the Meltano run.
  src/meltano/core/block/parser.py
  tests/meltano/cli/test_run.py
Labels: Community-Contributed PR
