Repository meltano/meltano, pull requests merged in 2025-09, with the labels that each got.

#9421 feat(core): Customize meltano.yml YAML style with a user configuration file
  docs/docs/concepts/project.md
  docs/docs/guide/configuration.md
  docs/docs/guide/user-yaml-config.md
  docs/docs/reference/settings.mdx
  src/meltano/core/user_config.py
  src/meltano/core/yaml.py
  tests/conftest.py
  tests/meltano/core/test_user_config.py
  tests/meltano/core/test_yaml.py
  tests/meltano/core/test_yaml_with_user_config.py
Labels: Community-Contributed PR, kind/Feature

#9477 break: Change order of positional arguments of `meltano config` subcommands
  docs/docs/guide/configuration.md
  docs/docs/reference/command-line-interface.md
  integration/example-library/meltano-annotations/index.md
  integration/example-library/meltano-basics/index.md
  integration/example-library/meltano-config/index.md
  integration/example-library/meltano-run/index.md
  integration/example-library/meltano-state-local/index.md
  integration/example-library/meltano-state-s3/index.md
  src/meltano/cli/config.py
  src/meltano/cli/interactive/config.py
  tests/meltano/cli/test_cli.py
  tests/meltano/cli/test_config.py
  tests/meltano/cli/test_logs.py
  tests/meltano/cli/test_select.py
  tests/meltano/cli/test_upgrade.py
Labels: breaking change

#9479 refactor: Remove missing import handling for state backends now that they are loaded dynamically
  pyproject.toml
  src/meltano/core/project.py
  src/meltano/core/state_store/azure/__init__.py
  src/meltano/core/state_store/azure/backend.py
  src/meltano/core/state_store/azure/settings.py
  src/meltano/core/state_store/google/__init__.py
  src/meltano/core/state_store/google/backend.py
  src/meltano/core/state_store/google/settings.py
  src/meltano/core/state_store/s3/__init__.py
  src/meltano/core/state_store/s3/backend.py
  src/meltano/core/state_store/s3/settings.py
  tests/meltano/core/state_store/test_filesystem.py
  tests/meltano/core/state_store/test_state_store.py
Labels: State Management

#9481 feat: Slim Docker images
  .github/actions/docker-build-scan-push/action.yml
  .github/workflows/build.yml
  README.md
  docker/meltano/Dockerfile.slim
  docs/docs/getting-started/installation.mdx
  docs/docs/guide/containerization.md
  scripts/generate_docker_tags.py
Labels: docker

#9494 feat: Default to interactive settings flow when bare `meltano config set` command is invoked
  pyproject.toml
  src/meltano/cli/config.py
  src/meltano/cli/interactive/config.py
  tests/meltano/cli/test_config.py
Labels: cli, Settings

#9512 refactor: Deprecate the `--all` flag of `meltano lock` and make it the default behavior
  docs/docs/guide/v3-migration.md
  docs/docs/reference/command-line-interface.md
  src/meltano/cli/lock.py
  src/meltano/core/project_plugins_service.py
  tests/meltano/cli/test_lock.py
Labels: cli

#9520 break: Rename subprocess logger to `meltano.plugins.<stream>.<type>.<name>` (split stdout and stderr streams into separate loggers)
  docs/docs/guide/logging.md
  src/meltano/core/block/extract_load.py
  src/meltano/core/block/plugin_command.py
  src/meltano/core/logging/output_logger.py
  src/meltano/core/plugin/singer/base.py
  src/meltano/core/plugin/singer/tap.py
  src/meltano/core/plugin_invoker.py
  src/meltano/core/project_plugins_service.py
  tests/meltano/core/plugin/singer/test_tap.py
Labels: Logging
